@import '../node_modules/font-awesome/css/font-awesome.min.css';

body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", Arial, SimSun, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #cfd2da;
  background-color: #252830;

  font-weight: 300;
  letter-spacing: 0;
}