<div class="panel panel-primary">
  <div class="panel-body" style="padding:5px;">
    <div class="row">
      <div class="col-lg-6">
        <!--breadcrumbs start -->
        <ul class="breadcrumb m-bot-none">
          <li><a href="#"><i class="icon-home"></i> 流量来源</a></li>
          <li class="active">概览</li>
          </ul>
        <!--breadcrumbs end -->  
        
        
        </div>
      
      <div class="col-lg-6 text-right">
          <span class="label label-primary" style=" line-height:34px; margin-right:10px;">2015/10/10</span>
        </div>
    </div>
  </div>
</div> 







<button class="btn btn-default-outline" type="button" id="like_btn">
  <span class="icon icon-thumbs-up"></span>
  Like button
</button>
<button class="btn btn-primary" type="button" id="hello_btn">
  <span class="icon icon-thumbs-up"></span>
  Hello button
</button>