<nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
  <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
  <a class="navbar-brand" href="#">Project name</a>
  <div id="navbar">
    <nav class="nav navbar-nav float-xs-left">
      <a class="nav-item nav-link" href="#">Dashboard</a>
      <a class="nav-item nav-link" href="#">Settings</a>
      <a class="nav-item nav-link" href="#">Profile</a>
      <a class="nav-item nav-link" href="#">Help</a>
    </nav>
    <form class="float-xs-right">
      <input type="text" class="form-control" placeholder="Search...">
    </form>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


