<div class="header">
  <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
    <button type="button" class="navbar-toggler hidden-sm-up" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation"></button>
    <a class="navbar-brand" href="#">Site Analyse</a>
    <div id="navbar">
      <nav class="nav navbar-nav float-xs-left">
        <a class="nav-item nav-link" href="#">统计分析</a>
        <a class="nav-item nav-link" href="#">广告营销分析</a>
      </nav>
    </div>
  </nav>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


