<section>
  <header class="header white-bg">
    <div class="sidebar-toggle-box">
      <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
    </div>
    <!--logo start-->
    <a href="#" class="logo">Analyse System</a>
    <!--logo end-->

    <div class="nav notify-row" id="top_menu">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>

    <div class="top-nav">
      <!-- user info start-->
      <ul class="nav pull-right top-menu">       
        <!-- user login dropdown start-->
        <li class="dropdown">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <img alt="" src="assets/img/avatar1_small.jpg">
            <span class="username">Jhon Doue</span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu extended logout">
            <div class="log-arrow-up"></div>
            <li><a href="#"><i class=" icon-suitcase"></i>Profile</a></li>
            <li><a href="#"><i class="icon-cog"></i> Settings</a></li>
            <li><a href="#"><i class="icon-bell-alt"></i> Notification</a></li>
            <li><a href="login.html"><i class="icon-key"></i> Log Out</a></li>
          </ul>
        </li>
        <!-- user login dropdown end -->
      </ul>
      <!--search & user info end-->
    </div>
  </header>
  <app-sidebar></app-sidebar>
  <section id="main-content">
    <section class="wrapper">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active">Library</li>
      </ol>
      <router-outlet></router-outlet>
    </section>
  </section>
</section>