<div class="filter-range-time">
  <span class="l label" style="color:#666;font-size:10px;padding-top:3px;">时间：</span>
  <div class="ui buttons l date-select-bar">
    <button class="ui button">今天</button>
    <button class="ui button">昨天</button>
    <button class="ui button active">最近7天</button>
    <button class="ui button">最近30天</button>
  </div>
  <div class="ui small input">
    <input type="text" dateRangePicker [dateRangePickerOptions]="option" (selected)="dateSelected($event)">
  </div>
</div>


